@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.page-container{
    width: 960;
    height: auto;
    margin-left: 350px;
}
.chef{
    width: 250px;
    height: auto;
}
.cause{
    padding-left: 36px;
}
.cause-head{
    padding-left: 12px;
}
h5{
    font-size: 18px;
    padding-right: 10px;
}
h1{
    font-size: 48px;
}
.card{
    padding-top: 20px;
    display: flex;
    width: 600px;
    background-color: #CBC6BD;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 8px #444;
}
.card-text{
    display: block;
}
img{
    padding-left: 10px;
}
h4{
    padding-left: 25px;
}
.footer a{
    font-family: "Poriet One";
    color: black;
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
.footer .menu{
    margin-left: 100px;
    display: block;
}
.footer .social-media{
    margin-left: 250px;
}
.social-media a{
    display: block;
}
.social-media h3{
    margin-bottom: 10px;
}
.fb {
    font-style: bold;
    display: flex;
}

.ig {
    font-style: bold;
    display: flex;
}
.footer .terms-policy{
    margin-left: 200px;
}
.footer h5{
    color: #444;
    font-style: bold;
    text-align: center;
}
.menu1{
    display: inline-block;
}
.menu2{
    padding-left: 10px ;
    display: inline-block;
}
.menu3{
    padding-left: 10px ;
    display: inline-block;
}
.rowuno{
    display: flex;
}
.rowdos{
    display: block;
}
.terms-policy h3{
    margin-bottom: 10px;
}
.menu h3{
    margin-bottom: 10px;
}
.menu a{
    margin-bottom: 5px;
}
.social-media a{
    margin-bottom: 5px
}
.ig-ico{
    padding-left: 5px;
    
}
.fb-ico{
    padding-left: 5px;
}