@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
.page-container{
    width: 960;
    height: auto;
    margin-left: 350px;
}
.chef{
    width: 250px;
    height: auto;
}
.cause{
    padding-left: 36px;
}
.cause-head{
    padding-left: 12px;
}
h5{
    font-size: 18px;
    padding-right: 10px;
}
h1{
    font-size: 48px;
}
.card{
    padding-top: 20px;
    display: flex;
    width: 600px;
    background-color: #CBC6BD;
    border-radius: 15px;
    box-shadow: 0px 5px 5px 8px #444;
}
.card-text{
    display: block;
}
img{
    padding-left: 10px;
}
h4{
    padding-left: 25px;
}