@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
}

body{
    background-color: #222;
}
text{
    color: white;
}
.the_chef{
    width: 50%;
    height: auto;
    margin: 45px auto 0px 25%;
}
.nav-links {
    font-family: "Poiret One";
    color: white;
    font-size: 16px;
    list-style-type: none;
    display: flex;
}
nav {
    padding: 16px 24px 16px 24px ;
    width: 95%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    margin-bottom: 45px;
}
.homelogo {
    width: auto;
    height: 55px;
    object-fit: cover;
}
.nav-item {
    padding: 10px 15px;
}
nav ul li a:hover {
    color: tomato;
    transition: 0.9s;
    border-bottom: 1.25px solid tomato;
}
nav a {
    color:white;
    text-decoration: none;
}
.social_icons{
    color: white;
    font-size: 11px;
    padding: 2px 2px 2px 2px;
}
.socials{
    padding-top: 5px;
}
.page-container {
    display: block;
    width: 960px;
    margin: auto auto  auto auto;
    padding: 24px 24px 16px 24px;
}
.partition h4{
    margin: 0px 25px 35px 25px;
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 12px;
    color: white;
}
.partition{
    margin-top: 0px;
    background-color: #333;
    display: flex;

}
#fa_pep{
    color: white;
    margin-top: 45px;
}
.about1{
    width: 50%;
    padding: 35px 0px 0px 0px;
    text-align: center;
}
.about2{
    width: 50%;
    padding: 35px 0px 0px 0px;
    text-align: center;
}
.header{
    margin-top: 0px;
    font-family: "Courgette";
    font-size: 28px;
    color: white;
    text-align: center;
    margin-bottom: 0px;    
}
.header_bg{
    background-color: #444;
}
.chef_bg{
    margin-top: 45px;
    background-color: #111;
}
.work{
    width: 100%;
    display: block;
    background-color:#444;
}
.work_heading{
    background-color: #111;
}
.row1{
    display: flex;
    width: 100%;
}
.work_logo{
    width: 28%;
    height: auto;
    margin: 0px 5px 5px 5px;
}

.images{
    width: 100%;
    display: block;
}
.row1{
    display: flex;
    width: 100%;
}
.row2{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    width: 100%;
}
.row3{
    display: flex;
    width: 100%;
}
.img1{
    background-image: url(/img/work/sandalsrpochorioslogo.jpg);
    object-fit: cover;
}
.img2{
    background-image: url(/img/work/epic_platez.png);
    object-fit: cover;
}
.img3{
    background-image: url(/img/work/sandals_negril.png);
    object-fit: cover;
}
.img4{
    background-image: url(/img/work/margaritaville.jpg);
    object-fit: cover;
}
label{
    width:25%;
    height:240px;
    object-fit: cover;
    display:flex;
    background-size:cover;
    position:static;
    cursor:pointer;
    overflow: hidden;
}
label > input{
    display:none;
}
  
label > div{
    position: fixed;
    background-color:rgba(255,255,255,0.8);
    background-size: auto;
    border-radius: 5px;
    text-align: center;
    bottom:20px;
    left:4px;
    right:4px;
    padding:8px;
    opacity:0;
    transition:.3s ease;
}
  
label:hover,label > input:checked + div{
    bottom:4px;
    opacity:1;
}
label:hover{
    transform: scale(1.5);
    border-radius: 10px;
}
label .img3:hover{
    transform: scale(1.5);
    border-radius: 50%;
}

label > input:checked{
    bottom:-20px;
    opacity:0;
}
  
label div{
    font-size: 18px;
}
.footer{
    width: 100%;
    height: auto;
    background-color: white;
    padding-top: 5px;
}
.footer a{
    font-family: "Poriet One";
    color: black;
    text-decoration: none;
    list-style-type: none;
    display: flex;
}
.footer .menu{
    margin-left: 100px;
    display: block;
}
.footer .social-media{
    margin-left: 175px;
}
.social-media a{
    display: block;
}
.social-media h3{
    margin-bottom: 10px;
}
.fb {
    font-style: bold;
    display: flex;
}

.ig {
    font-style: bold;
    display: flex;
}
.footer .terms-policy{
    margin-left: 200px;
}
.footer h5{
    color: #444;
    font-style: bold;
    text-align: center;
}
.menu1{
    display: inline-block;
}
.menu2{
    padding-left: 10px ;
    display: inline-block;
}
.menu3{
    padding-left: 10px ;
    display: inline-block;
}
.rowuno{
    display: flex;
}
.rowdos{
    display: block;
}
.terms-policy h3{
    margin-bottom: 10px;
}
.menu h3{
    margin-bottom: 10px;
}
.menu a{
    margin-bottom: 5px;
}
.social-media a{
    margin-bottom: 5px
}
.ig-ico{
    padding-left: 5px;
    
}
.fb-ico{
    padding-left: 5px;
}